<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Sunflower</title>
</head>

<body>
  <%- include('./templates/header') %>
  <main>
    <div class="hero-image">

    </div>
    <div class="form-container">
      <form action="/signup" method='POST'>

        <p>
          <label for="username">Username</label>
          <input required type="text" name='username'>
        </p>

        <p>
          <label for="first">First Name</label>
          <input required type="text" name='first'>
        </p>

        <p>
          <label for="last">Last Name</label>
          <input required type="text" name='last'>
        </p>

        <p>
          <label for="flower">Flower</label>
          <select required name='flower'>
            <option value="" disabled selected hidden>Select...</option>
            <option value="Sunflower">Sunflower</option>
            <option value="Lotus">Lotus</option>
            <option value="Cornflower">Cornflower</option>
          </select>
        </p>

        <p>
          <label for="email">Email</label>
          <input type="email" name='email'>
        </p>

        <p>
          <label for="password">Password</label>
          <input type="password" name='password'>
        </p>

        <p><input type="Submit"></p>
      </form>
    </div>
  </main>


</body>

</html>