<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap"
    rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
  <script src="/semantic/dist/semantic.min.js"></script>
  <script src='/scripts/app.js' defer></script>
  <link rel="stylesheet" href="/styles/main.css">
  <title>Sunflower</title>
</head>

<body>
  <% if(user) {%>
  <%- include('./templates/header') %>
  <%} else { %>
  <%- include('./templates/headerUnlogged') %>
  <%}%>
  <main>

    <div class='ui middle aligned center aligned grid'>
      <div class="ui big image">
        <img class='hero-image' src="/img/main-sunflower.png" alt="Main Page Sunflower Image">
        <br>
        <p class='tagline'>A quiet place to store your thoughts, and watch yourself grow</p>
      </div>
      
      <div class="column" style='width: 300px;'>
        <h1 class='ui header'>Sign Up</h1>
        <form class='form' action="/signup" method='POST'>
          <div class='ui segment'>
            <div class="field">
              <div class="ui left icon input">
                <i class='user icon'></i>
                <input required type="text" name='username' placeholder="Username">
              </div>
            </div>
            <br>
            <div class="field">
              <div class="ui left icon input">
                <i class='id card outline icon'></i>
                <input required type="text" name='first' placeholder="First Name">
              </div>
            </div>
            <br>
            <div class="field">
              <div class="ui left icon input">
                <i class='id card outline icon'></i>
                <input required type="text" name='last' placeholder="Last Name">
              </div>
            </div>
            <br>
            <div class="field">
              <div class="ui selection dropdown">
                <input type="hidden" name="flower">
                <i class="dropdown icon"></i>
                <div class="default text">Flower</div>
                <div class="menu">
                  <div class="item" data-value="Sunflower">Sunflower</div>
                  <div class="item" data-value="Lotus">Lotus</div>
                  <div class="item" data-value="Cornflower">Cornflower</div>
                </div>
              </div>
            </div>
            <br>
            <div class="field">
              <div class="ui left icon input">
                <i class='at icon'></i>
                <input required type="text" name='email' placeholder="Email">
              </div>
            </div>
            <br>
            <div class="field">
              <div class="ui left icon input">
                <i class='lock icon'></i>
                <input required type="password" name='password' placeholder="Password">
              </div>
            </div>
            
          </div>
          <input class='ui fluid select olive button' type="submit" value="Sign Up">
        </form>
      </div>
      
    </div>
  </main>

  <%- include('./templates/footer') %>
</body>

</html>