<div class="ui secondary pointing menu">
  <a class="active item">
    <h1>Sunflower</h1>
  </a>

  <div class="right menu">
    <a class="ui item" href='/logout'>
      Logout
    </a>
  </div>
</div>