<div class="ui secondary pointing menu">
  <a class="active item">
    <h1>Sunflower</h1>
  </a>

  <div class="right menu">
    <a class="ui item" href='/login'>
      <button class='ui secondary basic button'>Log In</button>    
    </a>
  </div>
</div>