body {
  background-color: #FCEBB6;
  color: #1f1f1f;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}
body > .grid {
  height: 100%;
}
.column {
  width: 80vw; 
  max-width: 350px;
}
main {
  top: 10vh;
}
h1{
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
}
.footer{
  position:fixed;
  bottom:0;
  background-image: url('../img/footer.png');
 }