body {
  background-color: #FCEBB6;
  color: #1f1f1f;
  /* height: 100vh; */
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Playfair Display', sans-serif;
  color: #1f1f1f;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
}
.container {
  display: flex;
  flex-direction: row;
}
.form-container {
  text-align: justify;
  padding: 10px;
  margin: 2px;
  background-color: #f1f1f1;
  border-radius: 15px;
  border: 1px solid #e9e9e9;
}
.input{
  width: 100%;
}
.footer{
  margin-top: 40px;
  position:fixed;
  width: 100vw;
  height: 40px;
  bottom: 0;
  background-image: url('../img/footer.png');
  background-size: contain;
  background-repeat: repeat-x;
  /* resize: both; */
  /* overflow: scroll; */
 }
 .dropdown{
   width: 49%;
 }
 .z-left{
   width: 50%;
 }