
body {
  background-color: #FCEBB6;
  color: #1f1f1f;
  /* height: 100vh; */
  /* font-family: 'Lato', sans-serif; */
}
h1{
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1px;
}
.flower {
  /* width: 200px;
  height: 150px; */
  border-radius: 50%;
}
.flower > a > img {
  z-index: 10;
}
.stem{

  height: 95px;
  margin-bottom: 1px;
}
.stem >a> img {
  z-index: -1;
}
.flower-container {
  width: 200px;
  margin: 0 auto;
}
.stem-container {
  width: 70px;
  margin: 0 auto;
}
.footer{
  margin-top: 40px;
  position:fixed;
  width: 100vw;
  height: 40px;
  bottom: 0;
  background-image: url('../img/footer.png');
  background-size: contain;
  background-repeat: repeat-x;
  /* resize: both; */
  /* overflow: scroll; */
 }